body {
  /* background: rgb(0,3,36);
background: linear-gradient(90deg, rgba(0,3,36,1) 10%, rgba(0,80,121,1) 87%); */
  /* filter: blur(5px); */
  background: url(desktop-wallpaper-storm-weather-stormy-weather.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
}
*{}

.inputBox {
  margin-top: 8%;
  padding: 10px;
  font-size: 16px;
}

#button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border: none;
}

.result {
  margin: 20px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
}

img {
  max-width: 100px;
  margin: 10px 0;
}

hr {
  border: 1px solid #ccc;
}
